.submitProduction {
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px 5px 5px 5px;
	overflow: hidden;
	width: 50%;
	position: absolute;
	right: 0px;
	left: 50%;
	transform: translate(-50%, 50%);
	font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	font-size: 25px;
	font-weight: 300;

}

.submitProduction .submitProduction-productionItem {
		font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	font-size: 25px;
	font-weight: 300;
	    display: inline-flex;
	height: auto;
width: 100%;
}

.submitProduction .submitProduction-productionItem .submitProduction-product{
margin-left: 15px;
margin-top: 15px;
margin-right: 15px;
margin-bottom: 15px;
}

.submitProduction .submitProduction-productionItem .productName{
	font-weight: 400;
	display: inherit;
	padding-left: 0px;
	padding-right: 0px;
}

.submitProduction .submitProduction-productionItem .details {
margin-left: 15px;
margin-top: 15px;
margin-right: 15px;
margin-bottom: 15px;
}

.submitProduction .submitProduction-productionItem .details .detailsHeader{
	font-weight: 300;
}

.submitProduction .submitProduction-productionItem .details .packaging{
	font-weight: 400;
  padding-left: 0px;
	padding-right: 0px;
	display: inherit;
}

.submitProduction .plannedProduction-amountWithUnit{
	margin-left: 15px;
	
}

.submitProduction .plannedProduction-scheduledTime{
	margin-left: 15px;
}

.submitProductionHeader {
	height: 80px;
	background-color: var(--smartmeter-color);
	text-align: center;
	justify-content: center;
	align-items: center;
	display: inline-flex;
	width: 100%;
	font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: #0b2f24cc;
}

.submitProduction-buttons {
	background-color: white;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 180px;

}

.submitProduction-button{
	width: 200px;
	text-align: center;
	border-radius: 5px 5px 5px 5px;
	justify-content: center;
	align-items: center;
	font-size: large;
	height: 100px;
	margin: auto;
	font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: #0b2f24cc;
}

.submitProduction-cancelButton{
	display: inline-flex;
}

.submitProduction-submitButton{
	display: inline-flex;
}

