.productionItemScroller .header {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: #0b2f24cc;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: inherit;
  z-index: 1;
  background-color: var(--smartmeter-color);
  height: 80px;
}

.productionItems {
  background-color: white;
  overflow: hidden;
}

.productionItem {
  line-height: 30px;
  height: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: -moz-block-height;
}

.productionItem .productName {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-flex;
  justify-content: flex-start;
  min-width: 70px;
  align-items: center;
  font-weight: 400;
}

.productionItem .packaging {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: lef;
  min-width: 50px;
}

.productionItem-selected {
  background-color: var(--smartmeter-color);
  color: #0b2f24cc;
}

.productionItemCol {
  display: none;
  visibility: hidden;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  min-width: 100px;
}

.productionItemScroller {
  overflow: auto;
  height: 280px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 4px 0px 8px 0 rgba(0, 0, 0, 0.2), -4px 0px 8px 0 rgba(0, 0, 0, 0.19);
  position: inherit;
  left: 50%;
  width: 50%;
  transform: translate(-60%, 28%);
  background-color: white;
}

.nicescroll-rails {
  background-color: #656565;
}

.nicescroll-cursors {
  border: none !important;
  background-color: var(--smartmeter-color) !important;
  border-radius: 0 !important;
}
