<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headerfiles" />
<body>
	<header th:insert="fragments/general.html :: header"> </header>
	<aside th:replace="fragments/general.html :: menu-left"></aside>
	<div class="productionItems">
		<div th:each="plannedProduction : ${plannedProductions}">
			<div th:text="${plannedProduction.productionItem.product.name}"></div>
			<div th:text="${plannedProduction.plannedProductionTime}"></div>
			<div
				th:each="constraint : ${plannedProduction.constraints}">
				<div th:text="${constraint.name}"></div>
			</div>
			<form th:action="@{deleteItem}" method="post"
				th:object="${plannedProduction}">
				<input type="hidden" th:name="id" th:value="*{id}" />
				<button type="submit" value="Submit" class="btn btn-danger">Löschen</button>
			</form>
		</div>
	</div>

	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>