.calendarHeader {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: var(--smartmeter-color);
	z-index: 1;
	width: 100%;
	height: 80px;
	font-size: x-large;
	margin-bottom: 25px;
	font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	font-size: 30px;
	font-weight: 300;
}

.day {
	font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	font-size: 40px;
  font-weight: 200;
	display: inline-flex;
	padding: 7px 7px 7px 7px;
	text-align: center;
	background-color: white;
	width: 70px;
	height:70px;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.day-selected {
	background-color: var(--smartmeter-color);
}

.lastMonth {
	color: #a5a5a5;
}

.nextMonth {
	color: #a5a5a5;
}

.calendarHeader .backwards {
	color: #0b2f24cc;
	float: left;
	margin-left: 10px;
	height: 60px;
	width: auto;
	stroke-width: 0.8;
}

.calendarHeader .forward {
	color: #0b2f24cc;
	float: right;
	margin-right: 10px;
	height: 60px;
	width: auto;
	stroke-width: 0.8;
}

.calendarHeader .monthAndYear {
	margin: auto;
	width: 200px;
	text-align: center;
	color: #0b2f24cc;
}

.month {
	height: 490px;
}

.free {
		font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	font-size: 40px;
  font-weight: 200;
	color: red;
	display: inline-flex;
	padding: 7px 7px 7px 7px;
	text-align: center;
	background-color: #d3d3d366;
	width: 70px;
	height:70px;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.week {
	z-index: 2;
}

.daysOfWeek {
	text-align: center;
	background-color: white;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.weekDay {
	display: inline-flex;
	padding: 7px 7px 7px 7px;
	text-align: center;
	background-color: white;
	width: 70px;
	height: 30px;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.dateChooser {
	display: inline-block;
	position: inherit;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: #ffffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px 5px 5px 5px;
	z-index: 2;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
}
