<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/js/smartMeterProductionPlanning/dist/time.css}" />



<!-- <link rel="stylesheet" type="text/css" -->
<!-- 	th:href="@{/js/node_modules/jquery-datetimepicker/build/jquery.datetimepicker.min.css}"> -->
<!-- <script type="text/javascript" -->
<!-- 	th:src="@{/js/node_modules/jquery/dist/jquery.js}"></script> -->
<!-- <script type="text/javascript" -->
<!-- 	th:src="@{/js/node_modules/jquery-datetimepicker/build/jquery.datetimepicker.full.js}"></script> -->


</head>
<body>
	<div th:fragment="header">
		<a th:href="@{/logout}">Logout</a>
	</div>
	<aside th:fragment="menu-left">
		<a th:href="@{/plannedProduction}">Produktionsplanung</a> <a
			th:href="@{/productionLine}">Produktionslinie</a>
	</aside>
	<footer th:fragment="footer"> </footer>
</body>
</html>