:root {
	--smartmeter-color: #50c78f;
}

body {
	margin: 0;
	background-color: #656565;
}

header {
	background-color: var(--smartmeter-color);
	height: 100pt;
	margin: 0;
	border: none;
	line-height: 0pt;
}

#username {
	line-height: 0pt;
	align-content: left;
	left: initial;
	padding-top: 20px;
	padding-left: 10px;
	color: #fff;
	font-size: large;
}

aside {
	background-color: white;
	width: 150pt;
	height: 100%;
}

button {
	border-color: red;
	border-radius: 5pt 5pt 5pt 5pt;
}

.productionItems {
	background-color: white;
	margin-left: 100pt;
	margin-right: 100pt;
	margin-top: 100pt;
	margin-bottom: 30pt;
	border-radius: 25px 25px 25px 25px;
	overflow: hidden;
}

